In [14]:
import pandas as pd

us_df = pd.read_csv("./OxCGRT_fullwithnotes_USA_v1.csv")
us_df = us_df[['CountryName', 'RegionName', 'RegionCode', 'Date', 'ConfirmedCases', 'ConfirmedDeaths']]
us_df = us_df.dropna()
us_df['Date'] = pd.to_datetime(us_df['Date'], format='%Y%m%d')
us_df["RegionCode"] = us_df['RegionCode'].str[3:]


chosen_date = pd.to_datetime("2021-01-01", format='%Y-%m-%d')
us_df = us_df[us_df["Date"] == chosen_date]
us_df_plot = us_df[["RegionCode", "ConfirmedCases"]]
us_df_plot

/var/folders/ql/hnw16fjd1bb7227zpj_cw9140000gn/T/ipykernel_49507/3351131780.py:3: DtypeWarning: Columns (82,91,93) have mixed types. Specify dtype option on import or set low_memory=False.
  us_df = pd.read_csv("./OxCGRT_fullwithnotes_USA_v1.csv")

      RegionCode  ConfirmedCases
1462          AK           47019
2558          AL          365747
3654          AR          229442
4750          AZ          530267
5846          CA         2434974
6942          CO          362438
8038          CT          185708
9134          DC           29252
10230         DE           58064
11326         FL         1323315
12422         GA          677589
13518         HI           22397
14614         IA          282980
15710         ID          141077
16806         IL          963389
17902         IN          517773
18998         KS          229822
20094         KY          265261
21190         LA          315275
22286         MA          375178
23382         MD          280219
24478         ME           24902
25574         MI          528621
26670         MN          415302
27766         MO          445019
28862         MS          218386
29958         MT           81555
31054         NC          539545
32150         ND           92215
33246         NE          167716
34342         NH           45932
35438         NJ          535043
36534         NM          144142
37630         NV          227046
38726         NY          995816
39822         OH          700380
40918         OK          291209
42014         OR          113909
43110         PA          657071
44206         RI           87949
45302         SC          307507
46398         SD           99164
47494         TN          592167
48590         TX         1822635
49686         UT          276612
50782         VA          354766
51878         VT            7412
52974         WA          246752
54070         WI          522523
55166         WV           87820
56262         WY           44409

In [ ]:
# plot overall view, normalize against pop size
# plot regional view, normalize against size of region

In [17]:
import pandas as pd

us_df = pd.read_csv("./OxCGRT_fullwithnotes_USA_v1.csv")
us_df = us_df[['CountryName', 'Date', 'ConfirmedCases', 'ConfirmedDeaths']]
us_df = us_df.dropna()
us_df['Date'] = pd.to_datetime(us_df['Date'], format='%Y%m%d')
us_df = us_df.groupby('Date')[['ConfirmedCases', 'ConfirmedDeaths']].sum().reset_index()

us_population = 331_000_000
us_df['ConfirmedCasesPer100K'] = us_df['ConfirmedCases'] / us_population * 100_000
us_df['ConfirmedDeathsPer100K'] = us_df['ConfirmedDeaths'] / us_population * 100_000
us_df

/var/folders/ql/hnw16fjd1bb7227zpj_cw9140000gn/T/ipykernel_49507/330495450.py:3: DtypeWarning: Columns (82,91,93) have mixed types. Specify dtype option on import or set low_memory=False.
  us_df = pd.read_csv("./OxCGRT_fullwithnotes_USA_v1.csv")

,Date,ConfirmedCases,ConfirmedDeaths,ConfirmedCasesPer100K,ConfirmedDeathsPer100K
0,2020-01-01,0,0,0.000000,0.000000
1,2020-01-02,0,0,0.000000,0.000000
2,2020-01-03,0,0,0.000000,0.000000
3,2020-01-04,0,0,0.000000,0.000000
4,2020-01-05,0,0,0.000000,0.000000
...,...,...,...,...,...
1091,2022-12-27,199853064,2175091,60378.569184,657.127190
1092,2022-12-28,200078888,2177061,60446.793958,657.722356
1093,2022-12-29,200285566,2178898,60509.234441,658.277341
1094,2022-12-30,200356424,2179325,60530.641692,658.406344
1095,2022-12-31,200370804,2179371,60534.986103,658.420242